*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#3b82f6,#06b6d4);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{

width:420px;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.3);
text-align:center;

}

.search{

display:flex;
margin-bottom:25px;

}

.search input{

flex:1;
padding:12px;
font-size:18px;
border-radius:8px;
border:1px solid gray;

}

.search button{

margin-left:10px;
padding:12px 20px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}

.search button:hover{

background:#1d4ed8;

}

.weather img{

width:120px;

}

#temp{

font-size:55px;

}

.details{

display:flex;
justify-content:space-between;
margin-top:30px;

}

.box{

background:#f3f4f6;
padding:15px;
border-radius:10px;
width:100px;

}
